*
{
    margin: 0;
    padding: 0;
}

header
{
    background-color: #3b5998;
    padding: 8px 0;
}

/*Manter o centainer centralizado*/
.center
{
    max-width: 100%;
    padding: 0 10%;
    margin: 0 auto;
}

.clear{clear: both;}

.logo
{
    font-family: "Lato";
    float: left;
    padding-left: 10%;
    color: #fff;
}

.logo h1
{
    font-weight: 900;
}

form.form-login
{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    color: #fff;
}

.form-login .form-element
{
    display: inline-block;
    margin-right: 15px;
}

.form-element p
{
    font-size: 11px;
}

.form-element input[type=email],
.form-element input[type=text],
.form-element input[type=password]
{
    margin-top: 4px;
    height: 22px;
}

.form-element input[type=submit]
{
    cursor: pointer;
    background-color: #3b5998;
    border: solid 1px #333;
    width: 50px;
    height: 22px;
    color: #fff;
}
.form-element input[type=submit]:hover
{
    background-color: #2a4887;
}

section.main
{
    background: linear-gradient(#ffffff, #d3d8e8);
    padding: 40px 10%;
}

.img-pessoas
{
    float: left;
    width: 70%;
}

.img-pessoas p
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #3b5665;
    float: left;
}

.img-pessoas img
{
    max-width: 100%;
}

.abrir-conta
{
    width: 30%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.abrir-conta h2
{
    font-size: 45px;
}

.abrir-conta h3
{
    font-size: 20px;
    color: rgb(30, 30, 30, 0.7);
    font-weight: thin;
}

form.cria-conta
{
    margin-top: 10px;
}

.w50-1,
.w50-2
{
    width: 70%;
    padding: 0 5px;  
    float: left;
}

.w100
{
    width: 100%;
    padding: 5px 5px;
    float: left;
}

form.cria-conta input
{
    width: 100%;
    margin-top: 8px
}

form.cria-conta input[type=email],
form.cria-conta input[type=text],
form.cria-conta input[type=password]
{
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    border: solid 1px #6f8ccb;
}

.choose-genre
{
    float: left;
}

form.cria-conta input[type=submit]
{
    height: 40px;
    background: linear-gradient(#76ae55, #578843);
    color: #fff;
    cursor: pointer;
    border: 0;
    max-width: 200px;
    font-size: 19px;
    border-radius: 5px;
}
form.cria-conta input[type=submit]:hover
{
    background: linear-gradient(#578443, #76ae55);
}